.container{
display: flex;
flex-direction: column;
align-items: start;
gap: 24px;
}

.title{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: #101828;
}

.text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #475467;
}

.list{
  display: flex;
  flex-wrap: wrap;
  gap:10px;
  width: 500px;
  height: 198px;
  border-top: 1px solid rgba(16, 24, 40, 0.1) ;
  padding-top: 24px;
}

.listItem{
    border: 1px solid rgba(16, 24, 40, 0.2);
    border-radius: 10px;
    padding: 17px 18px;
    width: 103px;
    height: 85px;
    mix-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    justify-content: center;
}

.listItem {
    border: 1px solid rgba(16, 24, 40, 0.2);
    border-radius: 10px;
    padding: 17px 18px;
    width: 103px;
    height: 85px;
    mix-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    justify-content: center;
}
