.container{
    display: flex;
    gap: 64px;
    width: 100%;
    margin: 20px;
    margin-left: 100px;
}

.containerDetails{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.containerError {
    border: 1px solid rgba(16, 24, 40, 0.2);
    border-radius: 10px;
    padding: 24px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.text {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: var(--gray);
    margin: 48px auto;
    text-align: center;

}

.wrapper {
    width: 600px;
    margin: 48px auto;
}


.link {
font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #101828;
}

.link:hover,
.link:focus {
    color: red;
}
